@import 'tailwindcss';

@theme {
    --color-background: #ccdadd;
    --color-bug: #3bb900;
    --color-dark: #1c1c1c;
    --color-dragon: #00458a;
    --color-electric: #ffe600;
    --color-fairy: #ffc2f9;
    --color-fighting: #e40000;
    --color-fire: #ff9900;
    --color-flying: #ccdadd;
    --color-ghost: #5a1e64;
    --color-grass: #57921c;
    --color-ground: #965A00;
    --color-ice: #6ad2ff;
    --color-normal: #b3b3b3;
    --color-plant: #70df00;
    --color-poison: #ab00ae;
    --color-psychic: #ff81f2;
    --color-rock: #e1b237;
    --color-steel: #2a4950;
    --color-water: #00a0e4;
    --color-poke-yellow: #ffcb05;
    --color-poke-blue: #2c72b8;
    --color-stellar: #00DFD2;
    --color-unknown: #5498FF
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

main {
    background-color: #ccdadd;
    font-family: "Roboto", sans-serif;
}

main.dark-mode {
    background-color: #05070f;
}

main.dark-mode .card-bg {
    background: linear-gradient(70deg, #BFDFFF 3%, #001224 95%);
    color: #fff;
}

h1, h2 {
    color: var(--color-poke-yellow);
    font-weight: 900;
    position: relative;
    -webkit-text-stroke-color: #2C72B8;
}

h1 {
    font-size: 30px;
    -webkit-text-stroke-width: 8px;
}

h2 {
    -webkit-text-stroke-width: 4px;
}

h1 span, h2 span {
    position: absolute;
    left: 0;
    -webkit-text-stroke: 0;
}

.span-type {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.card-bg {
    background: linear-gradient(70deg, #FFE1C6 3%, var(--color-poke-yellow) 80%);
}